<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
      <title>WebTest {{ title }}</title>
      {% else %}
      <title>WebTest</title>
    {% endif %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <style>
        main {
            margin: 20px auto 0;
            display: flex;
            flex-direction: column;
            max-width: 500px;
        }

        h1 {
            margin-bottom: 20px;
        }

        #error_messages {
            height: 60px;
        }
    </style>
</head>
<body>
<main>
    {% block content %} {% endblock %}
</main>
</body>
</html>