{% extends "base.html" %}
{% block content %}
    <h1>Hello page</h1>
    <div>Your name: {{data.username}}</div>
    <div>Your favourite color: {{data.color}}</div>
    {% if data.is18 =='true' %}
        <div>You are older than 18 years</div>
    {% else %}
        <div>You are younger than 18 years</div>
    {% endif %}
    <div>Your favourite time of day: {{data.daytime}}</div>
{% endblock %}