{% extends "base.html" %}

{% block content %}
<h1>Test form</h1>
<div id="error_messages" class="text-danger"></div>
<form action="/hello" method="post" id="regForm">
    <table>
        <tr>
            <td>
                <label for="name">Your name:</label></td>
            <td>
                <input type="text" id="name"/></td>
        </tr>
        <tr>
            <td>
                <label for="color">Your favourite color:</label></td>
            <td>
                <select id="color">
                    <option>Green</option>
                    <option>Red</option>
                    <option>Yellow</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <label for="18-years">You are older than 18 years</label></td>
            <td>
                <input type="checkbox" id="18-years"/></td>
        </tr>
        <tr>
            <td>Your favourite time of day:</td>
            <td>
                <input type="radio" id="radio-morning" name="daytime"/>
                <label for="radio-morning">Morning</label>
                <br/>
                <input type="radio" id="radio-evening" name="daytime"/>
                <label for="radio-evening">Evening</label>
                <br/>
                <input type="radio" id="radio-night" name="daytime"/>
                <label for="radio-night">Night</label>
                <br/>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Send"/>
            </td>
        </tr>
    </table>
</form>
<script>
$( "#regForm" ).submit(function( event ) {
  event.preventDefault();
  $("#error_messages > p").remove();

  var username = $("#name").val();
  var is18 = $("#18-years").is(":checked");
  var color = $("#color option:selected").text()
  var daytime = $( "input[name='daytime']:checked + label").text();

  var data = {
    'username': username,
    'color': color,
    'is18': is18,
    'daytime': daytime
    }
  console.log(data);
  $.post( "/create_record", data)
  .done(function(response){
     console.log("done");
     var res = JSON.parse(response);
     console.log(res);
     if(res['result'] === 'success'){
        window.location.href = "/hello";
     }
     else {
         res['errors'].forEach(error => {
              $("#error_messages").append("<p>" + error['message'] + "</p>");
         });
     }
  })
});

</script>
{% endblock %}